[2017-09-27 13:59] masterFoad opened #17 "DataAccess must implement DataInterface"
see title

[2017-09-27 14:05] #17 closed

[2017-10-12 08:15] Minitour opened #21 "NullPointerException on LogIn API"
**Issue**
LogIn servlet will throw an exception if there any missing parameters.

The exception is thrown because the parameter ```deviceId``` was not passed. due note that ```deviceId``` is an optional parameter and in some cases it may not be passed (such case can be seen in emulators).

**Body Sent**
[code]

**Current Result**
[code]

**Expected Result**
[code]

[2017-10-12 08:27] Minitour opened #22 "Error In Login Query"
**Request**
[code]

**Response**
[code]

**Expected Response**
[code]

[2017-10-12 08:36] Minitour opened #23 "Issue in API GetMeetings"
**Request**

[code]
[code]
[code]

**Response**

The following response was the same for all of the requests above.

[code]

[2017-10-12 10:04] NajibAbuSamra commented on #21
Please note that this user has been removed when we cleared the tables on monday. for testing login use the following credentials:
username: user
password: user

[2017-10-12 10:04] NajibAbuSamra commented on #22
same as previous issue, the user does not exist

[2017-10-12 10:08] Minitour commented on #21
@NajibAbuSamra This has nothing to do with the credentials. It has to do with the parameter `deviceId` not being optional.

[2017-10-12 10:09] Minitour commented on #22
I tried the following and got the same result:
[code]

[code]

[2017-10-12 10:49] Minitour opened #24 "Tsofen Users can login using Android APIs"
## Endpoint
[code]

## Request
[code]

## Response
[code]

## Expected Response

[code]

[2017-10-12 10:53] Minitour commented on #23
Fixed after updating `amazon` to latest version.

[2017-10-12 10:53] #23 closed

[2017-10-12 10:54] Minitour commented on #21
Fixed after updating `amazon` to latest version.

[2017-10-12 10:54] #21 closed

[2017-10-12 10:55] Minitour commented on #22
Fixed after updating `amazon` however there is still an issue present.
Refer to issue #24.

[2017-10-12 10:55] #22 closed

[2017-10-12 11:06] masterFoad commented on #24
on it

[2017-10-12 13:53] Minitour opened #25 "Issue with GetMeetings response format"
## Issue
The meeting does not contain a specific date time stamp.
I suggest we get rid of the field `date` and stick with `startingDate` and `endingDate` which will be of type `Long`. This means that `startingDate` and `endingDate` will include a timestamp which is basically the date in milliseconds.  I also suggest we drop the `pairId` element since it's redundant in this context.

[code]

## Req

[2017-10-12 13:57] NajibAbuSamra commented on #25
it is possible to convert date to datetime format, please check this link:
https://stackoverflow.com/questions/6252678/converting-a-date-string-to-a-datetime-object-using-joda-time-library

As for the pairId, it makes db queries easier, so it will remain in the db but could/should be omitted from the response if unneeded by the android client.

[2017-10-12 14:00] Minitour commented on #25
@NajibAbuSamra I know we can convert it, however it is a better practice to receive a number rather than receive a string.

[2017-10-12 14:02] NajibAbuSamra commented on #25
would have been lovely to get the memo for that *before* we created the db. In any case, I was suggesting the conversion be done in the server not the android client, so it does not affect you, you will get it as a long.

[2017-10-12 14:16] firdos94 commented on #25
you want to get it as long ?

[2017-10-12 14:17] Minitour commented on #25
@firdos94 yes like in the following example:

[code]

[2017-10-12 14:22] firdos94 commented on #25
I'll check it and update you

[2017-10-13 12:37] Minitour opened #26 "Creating a New Meeting"
## Questions
- What is the exact endpoint for creating a new meeting?
- What are the required/optional parameters?
- What is the response structure?

[2017-10-13 12:43] Minitour commented on #25
@masterFoad The current response of an individual meeting object is as follows:

## Current
[code]

## Needed
[code]

[2017-10-13 12:45] masterFoad commented on #25
@Minitour  I will change.

[2017-10-13 13:05] masterFoad commented on #25
@NajibAbuSamra Najib we can only change this if you change the getLong to getDate, because the database format is Date and you are getting it as long without conversion.

[2017-10-13 13:55] masterFoad commented on #26
* endpoint:
http://zofenweb-env.hhaqjxq9wa.us-east-2.elasticbeanstalk.com/AddMeeting

*parameters:
-required:
id(int), token (String),
 (
Meeting (Object)
*required meeting parameters:
-pairId
-mentorId
-menteeId
-status (must be "PENDING")
-meetingType (PHONE,FACE_TO_FACE,SMS)
-date(long)
-startingDate(long)
-endingDate(long)
-subject
*optional meeting parameters:
-mentorComplete - boolean
-mente

[2017-10-13 14:00] Minitour commented on #26
@masterFoad

Here is a request body sent to me by @firdos94.
[code]
**Few Notes:**
- We don't have the `pairId`.
- We also agreed that the only the mentor can create a meeting therefore there is no need to include `mentorId` inside the meeting body since it's specified in the request as `id`.
- We also don't need to send out the `status` field since it is automatically changed by the system.
- As

[2017-10-13 14:10] masterFoad commented on #26
the pairId is included with the meeting, when you run the GetMeetings request.
I will change and update you.

[2017-10-13 14:10] masterFoad commented on #26
@Minitour

[2017-10-13 14:12] Minitour commented on #26
@masterFoad What if It is the first meeting that I am adding? this means I don't have the `pairId`. besides it's a bad practice to send the `pairId` in the request. What if I submit a false `pairId`?
The `pairId` should be extracted based on the `mentorId` and the `menteeId`.

[2017-10-13 14:14] masterFoad commented on #26
@Minitour you are right, can you tell me more about the AddMeeting screen you have?
will adding a new separate servlet that get the pairId given the Mentor and the mentee's id solve the problem?

[2017-10-13 14:16] Minitour commented on #26
@masterFoad Trying to keep it simple. Here is a screenshot of the work in progress:

<img width="320" alt="screen shot 2017-10-13 at 17 15 05" src="https://user-images.githubusercontent.com/17438617/31550475-1d8b570e-b03a-11e7-9f68-19425308f4d0.png">

[2017-10-13 14:18] masterFoad commented on #26
@Minitour when you open this screen, you will get the pairId from a servlet that we will create, then you can use it.
Good?

[2017-10-13 14:19] Minitour commented on #26
@masterFoad
We can do that but I would prefer that the pairId would not be sent from the frontend.

[2017-10-13 14:20] masterFoad commented on #26
I understand, then you only send the id's.

[2017-10-13 14:24] Minitour commented on #26
@masterFoad Make sure to notify me when the changes has been made and are uploaded to the server so we can test it.

[2017-10-13 15:45] masterFoad commented on #25
@Minitour @NajibAbuSamra @mahaRaef
We will send date of type long in the response.
Waiting for query fix.

[2017-10-13 22:36] Minitour opened #27 "API `ApproveMeeting` is not working"
## Endpoint
[code]
## Request Body
[code]

## Response
[code]

[2017-10-13 22:38] Minitour commented on #27
I also tried
[code]

[2017-10-13 22:41] Minitour commented on #27
Found the issue:
https://github.com/shalomweiss/mm-system-2017/blob/dbaf14e961be08c255cb610e95fbcd79b3e2a64b/src/mm/androidservice/ApproveMeeting.java#L42

Why do you need `user_id` and `id`?

[2017-10-13 22:48] Minitour commented on #27
# Notes

### Action is of type Boolean
I also noticed you fetch `action` as a String and then parse it into Integer.
https://github.com/shalomweiss/mm-system-2017/blob/dbaf14e961be08c255cb610e95fbcd79b3e2a64b/src/mm/androidservice/ApproveMeeting.java#L43

You can simply use  a boolean here.

### Use Camel Case
We should stick to a single format, so far we have been using `Camel Case` so let's cont

[2017-10-13 23:05] Minitour opened #28 "Improving Error Handling"
I noticed that in most servlets, if a parameter is missing then the server would throw an exception with an HTML message. Although it is a good idea for GET requests, It is not a good practice to return HTML in for POST requests, Therefor I suggest that all the code in all the POST servlets will be wrapped in the following format:

[code]

[2017-10-13 23:38] firdos94 commented on #27
okey, i have no idea why there is userId and id (one of them should be removed)
its not good that action is boolean, we have 3 types of meeting status:  PENDING(0),APPROVED(1),COMPLETE(2)

you can check:
Request:
{
"id":16,
"action":1,
"meetingId":4,
"token":"KfPTz2k2Scrj9tgIyTzmtXpUNcvo29XDndgnLUS2g5WK3PbuFY37WK3PW7wUBJmRcrpAQIYuCOIVToBIkjqB2RU6hztnRrz8VflVU0wNfrAkKuDn0wQkiEBS8hCitnNh"
}
to get t

[2017-10-13 23:40] Minitour commented on #27
@firdos94 The `action` parameter is what indicates if we want to Approve or Decline the meeting.
If there is a third option then yes we should use an integer. But what is it?

[2017-10-13 23:52] firdos94 commented on #27
Decline type is not define as meetingtype
function in db , changemeetingstatuse accept messageStatus param, one of 3 types: pending,approve,complete

maybe we should add new type ,TOMORROW :)

[2017-10-13 23:53] Minitour commented on #27
@NajibAbuSamra Look into this.

[2017-10-14 00:00] Minitour commented on #27
Here is a screenshot of the work in progress `MeetingController`

<img width="240" alt="screen shot 2017-10-14 at 2 55 35" src="https://user-images.githubusercontent.com/17438617/31570318-35490340-b08b-11e7-842a-d2f3a8f8fb4e.png">

Here is what we defined in The System doc:
<img width="275" alt="screen shot 2017-10-14 at 2 58 49" src="https://user-images.githubusercontent.com/17438617/31570368-b7b

[2017-10-14 00:04] NajibAbuSamra commented on #27
The WIP looks ok, I got nothing to note there.

as for the previous discussion, the way the db handles changing the meeting status is as follows: we have a function that changes a meeting's status if certain conditions are met, i.e. if a mentee is approving a meeting, then the status is changed to approved, if someone (mentor/mentee) completes a meeting then the status is changed to completed IF b

[2017-10-14 09:00] masterFoad commented on #28
@Minitour you are right, on it.

[2017-10-14 18:14] Minitour opened #29 "Unhandled Exception in ApproveMeeting"
https://github.com/shalomweiss/mm-system-2017/blob/e2896abc8762ac4dec3f556f07217d8088f002d9/src/mm/androidservice/ApproveMeeting.java#L60

A response is missing in the catch block.
[code]

[2017-10-14 18:15] Minitour commented on #29
@masterFoad Might as well remove the inner `try-catch` since you added an outer one.

[2017-10-14 18:16] masterFoad commented on #29
@Minitour 1 moment.

[2017-10-14 18:17] masterFoad commented on #29
@Minitour  BTW, addmeeting still needs the getPairId method.
@NajibAbuSamra

[2017-10-14 18:19] Minitour commented on #29
@masterFoad we should discuss that on issue #26

[2017-10-14 18:20] masterFoad commented on #26
@NajibAbuSamra Still waiting for the getPairId

[2017-10-14 18:24] masterFoad commented on #29
@Minitour Done.

[2017-10-14 18:25] #29 closed

[2017-10-14 18:36] Minitour commented on #27
@firdos94, @masterFoad

Approving a meeting works but declining a meeting results in an error.

[2017-10-14 18:42] Minitour commented on #27
Here is the system log:
[code]

[2017-10-14 18:46] NajibAbuSamra commented on #25
@masterFoad I don't see the getLong you talk about in the DA code, was it changed?

[2017-10-14 18:46] masterFoad commented on #27
@Minitour
on it

[2017-10-14 18:46] masterFoad commented on #27
@dunia777

[2017-10-14 18:57] dunia777 commented on #27
DataBase said that they haven't had a declined meetingType, so we did not expect to get an action that's "false" from the request.
We will send an error message in this case untill DB create the new meetingType, Or you can make sure not to send an action that is false.

[2017-10-14 18:58] Minitour commented on #27
@NajibAbuSamra please look into it.

[2017-10-14 18:58] NajibAbuSamra commented on #26
implemented and pushed

[2017-10-14 19:10] NajibAbuSamra commented on #27
I have added 2 meeting status:
DECLINED: a mentee can decline a proposed meeting
CANCELED: a mentor can cancel a meeting at any time

**Please note that in the db we do not validate that the user that sent the request is valid ** (that means a mentor that sends a declined status will return true, the validation should be done before executing the changeMeetingStatus method)

[2017-10-14 19:11] Minitour commented on #27
@NajibAbuSamra Can mentee cancel the meeting as well? (after it was approved)

[2017-10-14 19:13] NajibAbuSamra commented on #27
TBD, I don't see why not, though we agreed we want most of the power be with the mentor, also if memory serves there should be a message/note added in case a meeting is canceled/declined

[2017-10-14 19:14] Minitour commented on #27
@NajibAbuSamra So this requires a new API doesn't it?

[2017-10-14 19:16] NajibAbuSamra commented on #27
Not necessarily, we can use the function that adds mentor/mentee notes for that

[2017-10-14 19:16] masterFoad commented on #27
@Minitour
Can you update the ApproveMeeting request format?

[2017-10-14 19:18] masterFoad commented on #26
AddMeeting is working, Will deploy soon.

[2017-10-14 19:20] Minitour commented on #27
@masterFoad The format is still the same. If `action` is `true` then the meeting status is `APPROVED`, if it's `false` then the status will be `DECLINED`

 For the `Canceling` I will create a new issue with the API definition.

[2017-10-14 19:22] Minitour commented on #26
I will keep the issue open until I test it on the Android client.

[2017-10-14 19:23] masterFoad commented on #26
@Minitour
My test:
[code]

[2017-10-14 19:28] Minitour opened #30 "New API: Cancel Meeting"
## Description
The issue was brought up in issue #27. We need an API to cancel an `APPROVED` meeting.
This action can be preformed by both the mentor and the mentee.

- This only applies to meetings that are `APPROVED` or `PENDING`.
- If the meeting is `PENDING` then this action can only be preformed by the mentor.
- If the meeting is `APPROVED` then this action can be preformed by both the mentor

[2017-10-14 19:30] Minitour commented on #30
The `message` parameter in the request will be inserted into the `notes` field in the database.

[2017-10-14 19:59] masterFoad commented on #27
@Minitour Updated.

[2017-10-14 20:30] NajibAbuSamra commented on #30
I see we have yet to implement adding mentor/mentee notes (both public and private) to meetings, I will get to it now

[2017-10-14 20:49] Minitour commented on #26
@masterFoad is it possible not to send the `date` field? instead can you extract it from the `startingDate`?

Since the `startingDate` is a timestamp you can do the following:
[code]

I would like the request format to be as follows:
[code]

[2017-10-15 07:13] masterFoad commented on #26
@Minitour Done.

[2017-10-15 07:29] masterFoad commented on #26
@Minitour
A valid session token to use for tests:

	"meeting": {
          "menteeId":16,
              "meetingType":"FACE_TO_FACE",
                      "startingDate":1508103000000,
                        "endingDate":1508106600000,
                          "subject":"git"

    },
	"token": "AAsNKbmzS6FJyqTuRANhd2nrAYSa6juOmimKeA0JuxPetBrfVpyYPBsKlptcqMo9GwV0UmSfS5YewXJaDp4cLNfpyd3TbcZjrMXNj

[2017-10-15 07:46] Minitour commented on #26
@masterFoad I hope you are consuming the `location` parameter as well.

[2017-10-16 12:06] #24 closed

[2017-10-16 12:07] #26 closed

[2017-10-16 12:07] #27 closed

[2017-10-16 15:21] #30 closed

[2017-10-17 07:05] masterFoad opened #35 "TODO - Reports"
https://dev.mysql.com/doc/connector-j/5.1/en/connector-j-usagenotes-statements-callable.html

You must also check null input and use setNull
see https://stackoverflow.com/questions/18449708/how-to-insert-null-in-mysql-especially-int-datatype

These are the callable procedures that you must implement:
CallableStatement cStmt = conn.prepareCall("{call getPairsWithParameters(?, ?, ?, ?, ?)}");
numOfM

[2017-10-17 07:27] NajibAbuSamra commented on #35
Currently the procedures saved in the db function as intended (I tested them)

next we need to call them from the DA methods

[2017-10-18 09:09] masterFoad opened #37 "Protocol"
To download a file:
http://localhost:8080/mm-database-2017/DownloadFile?id=17&type=img

id is mentee or mentor id.
type is [img,cv,grade]
img when you want to request an image;
cv when requesting cv;
grade when requesting grade file (only word and pdf extensions are allowed)

[2017-10-28 15:53] #37 closed

[2017-10-28 16:08] masterFoad opened #38 "File upload download protocol notes"
The format for using the upload servlets (android @Minitour ) -- this is not yet deployed to _kovetz_ war:
UploadGradeSheet,UploadCV,UploadImage:
set the header to contain two variables: id,token
-id : the uploader's Id.
-token: session token.

HTTP request code from postman for UploadGradeSheet  - grade sheet can only be of .pdf type:

[code]
HTTP request code from postman for UploadCV  - cv can

[2017-10-28 16:16] masterFoad commented on #38
File download examples @Minitour @danielzar2710 :
DownloadFile is now post only because its safer and also requires a valid session token.
send json to DownloadFile servlet in the following format:
[code]

where TYPE must be : "grade","img","cv" depending on what you want to download.
if TYPE is img and no image is found for the user, a default image is downloaded.
Example:
[code]

[2017-10-28 16:45] Minitour commented on #38
@masterFoad
Just for clarification:
The request body for downloading a file is
[code]
Where `<type>` is either `img`,`grade` or `cv`. And the `<id>` is the id of the user.

[2017-10-29 10:03] NajibAbuSamra opened #39 "To Mentor list add "Working place" in all screens"
*discussion here*

close when finished

[2017-10-29 10:04] NajibAbuSamra opened #40 "To Mentee screens add "learning Institute""
*discussion here*

close when finished

[2017-10-29 10:04] NajibAbuSamra opened #41 "change the size of field "Add Mentor" & "Add Mentee""
*discussion here*

close when finished

[2017-10-29 10:05] NajibAbuSamra opened #42 "Address should be text"
*discussion here*

close when finished

[2017-10-29 10:05] NajibAbuSamra opened #43 "define and implement mandatory field in the WEB"
*discussion here*

close when finished

[2017-10-29 10:06] NajibAbuSamra opened #44 "Add Logo of the mentor program"
*discussion here*

close when finished

[2017-10-29 10:07] NajibAbuSamra opened #45 "Android Add CV (Doc)/Pic(jpg/png)/grademark report (PDF)"
*discussion here*

close when finished

[2017-10-29 10:07] NajibAbuSamra opened #46 "Android change :activity: to meeting"
*discussion here*

close when finished

[2017-10-29 10:08] NajibAbuSamra commented on #40
shouldn't the name still be "Academic Institute" ?

[2017-10-29 10:16] masterFoad commented on #45
No gif support, only jpg png for Images.
It can be added though. @NajibAbuSamra

[2017-10-29 10:20] NajibAbuSamra commented on #45
@masterFoad  no need, I think jpg is good enough, it's the common case for img type, no?

[2017-10-29 10:21] masterFoad commented on #45
@NajibAbuSamra  Indeed it is.

[2017-10-29 12:26] Minitour commented on #46
@NajibAbuSamra on it.

[2017-10-31 08:45] danielzar2710 commented on #44
@masterFoad @firdos94 please upload logo pic on server and give path

[2017-10-31 08:59] masterFoad opened #49 "gitignore update -- .json"
@NajibAbuSamra  we need to add .json to gitignore.

[2017-10-31 09:06] firdos94 commented on #49
the key is not working at the moment, does not the json contain something ?

[2017-10-31 09:25] #40 closed

[2017-10-31 09:25] #43 closed

[2017-10-31 09:26] #42 closed

[2017-10-31 09:26] #41 closed

[2017-10-31 09:33] firdos94 commented on #39
get mentor for mentee,

[2017-10-31 09:34] masterFoad commented on #49
@firdos94  I sent the key by mail.
add them to the json file manually. (Be careful not to push until Najib add to gitignore)

[2017-10-31 09:40] firdos94 commented on #49
we are setting with nagib now.

[2017-10-31 09:43] firdos94 commented on #28
@masterFoad @Minitour  is still relevant?

[2017-10-31 10:08] Minitour commented on #28
@firdos94
@masterFoad
If you are following this pattern in all servlets then we can close this issue.

[2017-10-31 11:50] masterFoad commented on #28
@Minitour @firdos94 @NajibAbuSamra
You can close.

[2017-10-31 16:35] #28 closed

[2017-10-31 19:38] NajibAbuSamra commented on #49
I have introduced the required change (I hope)

Please confirm you don't see the file in your change list after updating with the proper keys

[2017-10-31 21:12] masterFoad commented on #49
@firdos94 @NajibAbuSamra @danielzar2710 added resources folder+instructions just for validation.

[2017-11-01 13:02] danielzar2710 opened #52 "connection problems from time to time"
ARNING: The web application [mm-database-2017] appears to have started a thread named [Abandoned connection cleanup thread] but has failed to stop it. This is very likely to create a memory leak. Stack trace of thread:
 java.lang.Object.wait(Native Method)
 java.lang.ref.ReferenceQueue.remove(Unknown Source)
 com.mysql.jdbc.AbandonedConnectionCleanupThread.run(AbandonedConnectionCleanupThread.java

[2017-11-01 17:43] NajibAbuSamra commented on #52
Is there a specific way to reproduce this error? what did you do when this appeared?

[2017-11-03 18:55] NajibAbuSamra opened #53 "Jar errors during server start"
when I start a server locally I'm getting 4 errors about jars, the server functions but I think we should look into it at some point:

`SEVERE: Unable to process Jar entry [module-info.class] from Jar [file:/C:/gitDownloads/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/mm-system-2017/WEB-INF/lib/javax.json.bind-api-1.0.jar] for annotations
org.apache.tomcat.util.bcel.classfile.Cla

[2017-11-04 08:11] masterFoad commented on #53
are you using tomcat 8.0.47? @NajibAbuSamra

[2017-11-04 10:22] masterFoad opened #55 "implemented connection pooling"
@NajibAbuSamra
Close connection in DataAccess
I have implemented Connection Pooling to fix various connection problems, I think now you have to close every connection in every sql query, not only the statement and resultset, but also the conn.

when you get my version, Don't forget to change the parameters in the context.xml
I have attached them in email.

@NajibAbuSamra  add context.xml to gitign

[2017-11-04 11:02] NajibAbuSamra commented on #55
I will add it after the merge, I left a review on your pull request

[2017-11-04 11:04] NajibAbuSamra commented on #53
`Starting Servlet Engine: Apache Tomcat/8.0.36`

you think this is the cause of the error?

[2017-11-04 11:11] NajibAbuSamra commented on #55
yes, we (me and @firdos94 ) came to that conclusion too, but still not sure who should close the connection, as the connection is opened when the DA is created in the server when a servlet is called.

your thoughts @masterFoad ?

[2017-11-04 11:14] NajibAbuSamra commented on #44
can I have an update on the status of this task?

[2017-11-04 11:15] NajibAbuSamra commented on #39
is this task finished?

[2017-11-04 11:16] NajibAbuSamra commented on #45
@masterFoad  @Minitour  what's the status on this task? a bit hard to follow on android progress since I don't see the changes in github 😜

[2017-11-04 11:17] NajibAbuSamra commented on #25
@Minitour @firdos94 @masterFoad  is this still an open issue?

[2017-11-04 11:17] masterFoad commented on #55
@NajibAbuSamra
For example in every method in DA:
`public User login(String email) throws SQLException {
		Logger logger = Logger.getLogger(DataAccess.class.getName());
		if (c == null) {
			logger.log(Level.SEVERE, "Connection Failed");
			return null;
		}
		PreparedStatement stm = c
				.prepareStatement(SQLStatements.selectUserByEmail);
		stm.setString(1, email);

		ResultSet rs = stm.executeQu

[2017-11-04 11:19] NajibAbuSamra commented on #55
yes, but this could cause a problem if in a servlet there are more than one DA method being called, as in the methods we don't start not check the connection 😄 the only one who knows when we're  "done" is the server when the servlet has finished its task

[2017-11-04 11:21] masterFoad commented on #55
this is the reason I implemented the connection pool, when you close a connection you only return it to the pool.

[2017-11-04 11:25] firdos94 commented on #39
need to add the working place to addPair screen, @danielzar2710

[2017-11-04 11:29] NajibAbuSamra commented on #55
ok, I will work on it now. I added the ignore rule for the xml directly into main, so everything should be ready for other people to continue work (as in change the xml file manually but not affect the github file)

[2017-11-04 11:29] firdos94 commented on #44
@masterFoad can we add logo pic to package of images in amazon (the same package for users's profile pic )?

[2017-11-04 11:36] masterFoad commented on #55
I have changed DBUtil to singleton and fixed init set up.
I will push to main

[2017-11-04 11:47] masterFoad commented on #55
@NajibAbuSamra I think a better solution would be to call in the close connection in servlets instead in the DA itself, when the servlet finish the DA requests, it should close the connection.
I can add this to all android servlets quickly. @firdos94 should add the close to the web servlets.

[2017-11-04 11:49] masterFoad commented on #55
@NajibAbuSamra you only need to add a close connection method to the da.

[2017-11-04 11:51] masterFoad commented on #44
Someone send me the logo please

@firdos94 @danielzar2710

[2017-11-04 12:01] masterFoad commented on #55
update  - added closeConnection() method to android servlets.

[2017-11-04 12:51] NajibAbuSamra commented on #55
I have been adding close connection to all the methods for the past hour 😢 should I remove them?

[2017-11-04 13:08] masterFoad commented on #55
@NajibAbuSamra yes please :/

[2017-11-04 13:09] NajibAbuSamra commented on #55
I reverted all changes until your merge is finished

[2017-11-04 13:10] masterFoad commented on #55
sorry, I should have said earlier.

[2017-11-04 17:51] masterFoad opened #59 "Downloading logos and default image link"
default image:
http://localhost:8080/mm-database-2017/DownloadFile?logo=defaultImage

logos:
http://localhost:8080/mm-database-2017/DownloadFile?logo=MP-LOGO-10.png
http://localhost:8080/mm-database-2017/DownloadFile?logo=logo-tsofen-black.png
http://localhost:8080/mm-database-2017/DownloadFile?logo=logo-tsofen-tagline-trans-whiteback_2016.png

[2017-11-04 18:10] masterFoad commented on #53
@NajibAbuSamra yes I think that, Thats what the people at stackoverflow said at least.

[2017-11-05 14:10] #39 closed

[2017-11-06 17:41] NajibAbuSamra opened #63 "Edit user fail: academicDicipline2 too long"
![image](https://user-images.githubusercontent.com/28620326/32455253-5b8dfa5e-c32a-11e7-8279-9a114e4e1e2f.png)

This is happening from the web, the second academic discipline is empty in the db

[2017-11-06 18:07] danielzar2710 commented on #63
![screenshot_2](https://user-images.githubusercontent.com/26320595/32456381-0bb768fe-c32e-11e7-959b-85fe91d728d3.png)
as you can see the academic institues im am sending are fine

[2017-11-06 18:08] danielzar2710 commented on #63
the problem is that im sending wrong city id, when i do not have any city list

[2017-11-07 11:45] #59 closed

[2017-11-07 11:45] #44 closed

[2017-11-07 12:05] danielzar2710 opened #64 "update mentee+mentor does not work"
It is server/database problem, because i have checked, and in server i send you the right data

[2017-11-07 12:06] danielzar2710 opened #65 "GetMentorOfMentee"
makes a mistake when mentee does not have mentor
@firdos94

[2017-11-07 12:07] danielzar2710 commented on #64
@NajibAbuSamra
@firdos94

[2017-11-07 12:14] danielzar2710 commented on #63
I understood this is not a problem of the web, and I indeed got spaces with my data, this can be supported by looking at simillar rows and seeing that they lack tis problem. To conclude I do not remove this issue but i think it's preety much closed
@NajibAbuSamra

[2017-11-07 19:37] firdos94 commented on #65
@danielzar2710 copy paste to error, I didn't get it .

[2017-11-07 21:07] NajibAbuSamra commented on #64
I have opened this issue already, please check here:

https://github.com/shalomweiss/mm-system-2017/issues/63

[2017-11-07 21:07] #64 closed

[2017-11-07 21:08] NajibAbuSamra commented on #63
is it working now? @danielzar2710

[2017-11-07 21:08] NajibAbuSamra commented on #55
Connections seem to be working properly now, closing issue.

[2017-11-07 21:08] #55 closed

[2017-11-07 21:08] #49 closed

[2017-11-08 06:51] danielzar2710 opened #66 "problem with adding user without all the fields"
com.mysql.jdbc.exceptions.jdbc4.MySQLIntegrityConstraintViolationException: Cannot add or update a child row: a foreign key constraint fails (`db`.`mentors`, CONSTRAINT `companyId` FOREIGN KEY (`company`) REFERENCES `workplaces` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.new

[2017-11-08 07:19] danielzar2710 commented on #63
I think it is a problm with the old mentees, something there went wrong, i do not know what or why, but now it is ok, may i suggest to delete all the users and pairs and start again. I have an idea we will call deleting all users as protocol: "great flood".

[2017-11-08 07:20] danielzar2710 commented on #63
![image](https://user-images.githubusercontent.com/26320595/32536185-f55bd728-c465-11e7-847a-4b0a6a3a87e7.png)
here you see that the decipline i send you is fine

[2017-11-08 07:38] danielzar2710 commented on #63
I checked with the "new user" and it is working so I'm closing this

[2017-11-08 07:38] #63 closed

[2017-11-08 09:44] danielzar2710 commented on #65
I've fixed it, now it is OK

[2017-11-08 09:44] #65 closed

[2017-11-08 09:45] danielzar2710 opened #67 "connection problems"
INFO: Reloading Context with name [/mm-database-2017] has started
Nov 08, 2017 11:42:54 AM org.apache.catalina.loader.WebappClassLoaderBase clearReferencesJdbc
WARNING: The web application [mm-database-2017] registered the JDBC driver [com.mysql.jdbc.Driver] but failed to unregister it when the web application was stopped. To prevent a memory leak, the JDBC Driver has been forcibly unregistered.
N

[2017-11-08 09:46] danielzar2710 commented on #67
@NajibAbuSamra  @masterFoad
I clicked F5 to reload Mentee page and it has shown me this mistake (I do not think it is related to thementee page because i have seen it before).

[2017-11-08 10:01] masterFoad commented on #67
@danielzar2710 on it.

[2017-11-08 10:13] NajibAbuSamra commented on #67
@danielzar2710 when this error happens, can you continue your work does it cause a visible error on screen?

[2017-11-08 10:30] danielzar2710 commented on #67
no it does not prevent me from doing anything but it might be a security breach we should look into in the future

[2017-11-09 17:03] danielzar2710 opened #69 "new Milestone suggestion"
After completing the first milestone we should agree on the next one.
I suggest the following tasks:
1.add id to each user (israeli id).
2. Make the reports work
3. Support adding city/ area / company / academy.
Do you think it is fine for the second milestone?

[2017-11-09 17:19] danielzar2710 commented on #69
@NajibAbuSamra @firdos94 @masterFoad

[2017-11-09 17:20] NajibAbuSamra commented on #69
I think it's fine, but we still have other things that require attention first, reports are indeed the main thing but will be better to work on them after the rest of the system is "stable" (i.e. no new information being added to the models)

for now I have marked several items on the google sheet shalom prepared with our tasks, please review it and tell me which tasks were already finished:

1) A

[2017-11-09 17:26] danielzar2710 commented on #69
"Add ending date to ...."
"Dropbox should be Decline ..."
what does all of them mean mean?

Q.Check if session is valid (might be already finished) ?
A.No

[2017-11-09 17:26] danielzar2710 commented on #69
In the Pairs screen add more details (full name, "Working place", "learning Institute", phones): Done

[2017-11-09 17:27] danielzar2710 commented on #69
For most of those tasks we will need some meetings to be created

[2017-11-12 10:34] NajibAbuSamra commented on #69
We will discuss these on monday 10:30 (or after)

[2017-11-12 16:18] Minitour opened #70 "Issue with Login API"
Invalid response:

[code]
Where `joinDate`
Expected: Long
Got: String

[2017-11-13 07:51] masterFoad opened #72 "Adding new DownloadFile option"
Some changes to downloading files, for now downloading pictures is still in GET request with the same syntax, But for downloading CV or Gradesheet, It will require validation:
Tsofen - can view and cv or gradesheet
Mentor - can view only his own mentees cv or gradesheet
Mentee - can only view his own cv or gradesheet
which means;
-Downloading photos will be in Get request
-Downloading CV and Grade

[2017-11-13 08:33] NajibAbuSamra commented on #70
@masterFoad are you using Data from java.util or sql? (in the db I see it as numbers only)

in the meeting with shalom we agreed that joinDate doesn't need to be long (we're not interested in the exact second the user joined), Date should be in the format YYYY-MM-DD

[2017-11-13 08:43] #53 closed

[2017-11-13 08:44] #25 closed

[2017-11-13 15:31] masterFoad commented on #70
@Minitour Can you use a parser please?

[2017-11-15 07:23] danielzar2710 commented on #69
The things we have to do:

1.Add ending date to .... -
2.Add field "if a new meeting was created"
3.create a field for a pair :"have they finished their work together".
4.Add activate (the opposite of deactivate function) function for user or pair.
5.Database connection (might be already finished, but I don't think we tested it properly)
6.Hash Passwords before storing in db
7.add id to each user

[2017-11-15 12:33] masterFoad commented on #72
List of routes:
[code]

[code]

`/DownloadFile?logo=defaultImage`

`/DownloadFile?img=<user's id>`

To get cv and gradesheet:
/DownloadFile
request format:
[code]
where must be (TSOFEN,MENTOR,MENTEE) and the is the requester id
@Minitour @danielzar2710

[2017-11-15 12:36] Minitour commented on #72
![photo_2017-11-15_14-36-28](https://user-images.githubusercontent.com/17438617/32836418-63707a78-ca12-11e7-872d-ee6d9078ed60.jpg)

[2017-11-15 13:32] masterFoad commented on #72
Hilarious

[2017-11-20 11:12] Minitour commented on #70
[code]
Error code is 402 but user is still returned?
@masterFoad

[2017-11-20 11:57] NajibAbuSamra commented on #72
not as much as this here:
![image](https://user-images.githubusercontent.com/28620326/33017342-b5b82952-cdfa-11e7-9d8c-98f670e88f95.png)

[2017-11-20 12:13] masterFoad commented on #72
@NajibAbuSamra how did you get that?

I found this in the web code:
[code]

I believe the w3school line was removed, maybe its still there somewhere...

[2017-11-20 12:16] NajibAbuSamra commented on #72
my guess is this is a work in progress, why is it in the main though **looks at daniel** @danielzar2710

[2017-11-20 12:24] masterFoad commented on #70
@Minitour Fixed.

[2017-11-20 12:26] NajibAbuSamra opened #74 "null exception in downloadFile in WEB client"
it seems it's happening in an android service, but this happened when I logged in to the WEB client, any ideas what is happening?

SEVERE: Servlet.service() for servlet [mm.androidservice.download.DownloadFile] in context with path [/mm-database-2017] threw exception [Servlet execution threw an exception] with root cause
java.lang.NullPointerException
	at java.io.Reader.<init>(Unknown Source)
	at

[2017-11-20 12:27] NajibAbuSamra commented on #70
please confirm and close

[2017-11-20 12:29] masterFoad commented on #74
@NajibAbuSamra maybe the json is not added to the resources properly, I will look into it.

[2017-11-20 12:30] NajibAbuSamra commented on #72
@masterFoad  ok this is a severe issue it seems, the following is happening on the mentee page and mentor page, please advise:

`java.lang.NoClassDefFoundError: Could not initialize class mm.androidservice.download.ClientDownloadFile
	at mm.androidservice.download.DownloadFile.doGet(DownloadFile.java:94)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:622)
	at javax.servlet.http.HttpSe

[2017-11-20 12:35] NajibAbuSamra commented on #74
ok, but we are still calling ANDROID service from WEB client, is this ok?

[2017-11-20 12:38] danielzar2710 commented on #74
it should work

[2017-11-20 12:45] NajibAbuSamra commented on #66
@danielzar2710 is this still an issue? if so can you repro? (tell us how to reproduce the error)

[2017-11-20 12:49] NajibAbuSamra commented on #74
what should work? calling android service from web or that my error shouldn't happen?

[2017-11-20 12:50] danielzar2710 commented on #66
if the project works i can check that

[2017-11-20 12:56] NajibAbuSamra commented on #66
if you want a working build, you can always try the master branch, just don't make changes

[2017-11-20 12:59] danielzar2710 commented on #66
Due to the changes in th requirements this is no longer relevent

[2017-11-20 12:59] #66 closed

[2017-11-21 10:33] firdos94 opened #76 "reactivate user"
needed a new database function: boolean activateUser(int id)
@NajibAbuSamra @danielzar2710 .

[2017-11-21 12:27] NajibAbuSamra commented on #76
added directly to main (oops) you can now user the method activateUser(id)

[2017-11-21 12:42] firdos94 commented on #76
added, @danielzar2710 check that it's works fine to close this issue

[2017-11-22 08:31] danielzar2710 commented on #76
checking

[2017-11-22 09:02] danielzar2710 commented on #76
works

[2017-11-22 09:02] #76 closed

[2017-11-22 09:03] danielzar2710 commented on #74
calling android service from web

[2017-11-22 09:03] danielzar2710 commented on #74
shouldn't happen

[2017-11-22 09:03] danielzar2710 commented on #74
you only entered and main page and that's it?
@NajibAbuSamra

[2017-11-22 11:51] NajibAbuSamra commented on #74
If I remember correctly it used to happen in mentor/mentee page as well, but now I don't get it anywhere, so it might be fixed, but I am getting this:

[code]

I made sure my log.json and context.xml are correct, did something change? @masterFoad

[2017-11-23 09:02] danielzar2710 commented on #74
it means that the server did not have the object i was looking for

[2017-11-23 09:23] masterFoad commented on #74
@NajibAbuSamra @danielzar2710
When a request fails, The servlet returns a json response with the following format
[code]
so please make sure to process the response. (so you don't have to check the console for error),
you can use the returned message to display an error notification.

[2017-11-23 14:08] danielzar2710 opened #77 "add working palce does not work"
add working palce does not work
![image](https://user-images.githubusercontent.com/26320595/33176663-808907fe-d068-11e7-8957-421e027083bb.png)

[2017-11-23 14:08] danielzar2710 commented on #77
@NajibAbuSamra @firdos94

[2017-11-25 17:19] Minitour opened #78 "File Upload seems to work but File Download always responds with an empty file."
For example:
http://zofenweb-env.hhaqjxq9wa.us-east-2.elasticbeanstalk.com:80/DownloadFile?img=208

I am logged in as user 208 and I uploaded a profile picture. It returned code 200, but when trying to download the image I get a file with content length 0.

[2017-11-26 08:31] NajibAbuSamra commented on #77
Worked with daniel, fixed the issue, parameter name did not match what web sent and what servlet was expecting

[2017-11-26 08:31] #77 closed

[2017-11-26 08:32] NajibAbuSamra commented on #78
I just checked the sql tables, the user 208 (daniel) does not have a link to the profile picture saved in the db.

[2017-11-26 08:37] NajibAbuSamra commented on #78
Are we even saving the link to the users' pictures in the db?

[2017-11-26 11:07] masterFoad commented on #78
@NajibAbuSamra no we are not

[2017-11-26 11:09] NajibAbuSamra commented on #78
ok...

[2017-11-27 07:22] NajibAbuSamra opened #81 "on failed login a null pointer exception is being thrown"
can someone fix it please? it works but it's something that shouldn't happen

[2017-11-28 10:38] #70 closed

[2017-12-10 13:45] NajibAbuSamra commented on #78
is this still an issue? @masterFoad

[2017-12-10 13:45] #69 closed

[2017-12-10 13:46] NajibAbuSamra commented on #52
@masterFoad I think this issue was fixed in the last merge, can you confirm?

[2017-12-10 13:46] NajibAbuSamra commented on #46
@Minitour any update?

[2017-12-10 13:47] NajibAbuSamra commented on #45
@masterFoad @Minitour  can we close this?

[2017-12-11 07:34] masterFoad commented on #78
@NajibAbuSamra you can close.

[2017-12-11 07:35] masterFoad commented on #52
@NajibAbuSamra you can close.

[2017-12-11 07:35] masterFoad commented on #45
@NajibAbuSamra you can close.

[2017-12-11 07:36] masterFoad commented on #67
@NajibAbuSamra you can close.

[2017-12-11 19:49] masterFoad commented on #81
@NajibAbuSamra close?

[2017-12-11 19:56] NajibAbuSamra commented on #81
not sure if it's fixed or not, I'll close as soon as I finish the current set of changes I'm working on

[2017-12-11 19:56] #78 closed

[2017-12-11 19:57] #67 closed

[2017-12-11 19:58] #52 closed

[2017-12-11 19:58] #45 closed

[2017-12-14 11:05] NajibAbuSamra opened #84 "Caught an AmazonServiceException, which means your request made it to Amazon S3, but was rejected with an error response for some reason."
<
Caught an AmazonServiceException, which means your request made it to Amazon S3, but was rejected with an error response for some reason.
Error Message:    The specified key does not exist. (Service: Amazon S3; Status Code: 404; Error Code: NoSuchKey; Request ID: 892A9C09B5398F2F; S3 Extended Request ID: trjwQ+GK9BjK7rGIG4NiO5SsWw8okOmiYMK6FGN3wyWr///4QZH5vAICAH+wCdRivrHqg0dm+UQ=)
HTTP Status Co

[2017-12-14 11:25] masterFoad commented on #84
@NajibAbuSamra can you post the request that you sent?
or the action that led to this error?

[2017-12-14 11:26] masterFoad commented on #84
@NajibAbuSamra oh just noticed "This happens on the Mentors page and Mentee page".

[2017-12-14 11:28] NajibAbuSamra commented on #84
I don't think this happens from the GetAllMentors servlet, I think it is caused by trying to access the S3 data (cv/grades/profilepic/etc.) but I have no idea why it says the key is wrong, I checked and it's the last key you sent and I don't think it should have changed since.